.App {
  text-align: center;
}
.countdown {
  position: absolute;
  top: 30%;
  z-index: 12;
  color: #e60d14;
  font-weight: bold;
  font-size: 56px;
}
.recording {
  color: #e60d14;
  font-weight: 600;
  margin-left: 550px;
  position: relative;
}
button {
  font-size: 14px;
}